/* THIS CSS FILE CAN BE THOUGHT OF BEING GROUPED IN 5 PARTS:
1. GLOBAL SELECTORS
2. HEADER SELECTORS
3. MAIN PAGES SELECTORS
4. FOOTER SELECTORS
5. MEDIA QUERY SELECTORS */



@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--grn: #3a6;
	--lt-ylw: #faf16b;
	--lt-ylw-tr: #faf16b66;
	--x-lt-gr: #bbb;
	--lt-gr-tr: #7772;
	--lt-gr: #777;
	--gr: #222;
	--gr-tr: #2228;
	--mw-gr: #eceee7;
	--mw: #fdfff5;
	--mw-tr: #fdfff566;
	--prpl: #5e1e83;
	--ebgar: 'EB Garamond', serif;
	font: 300 16px var(--ebgar);
	letter-spacing: .015rem;
	word-spacing: .03rem;
	color: var(--gr);
	background-color: var(--mw);
	width: 100%;
}


/* RESET */
/* Based on meyerweb.com/eric/tools/css/reset (v2.0 | 20110126 | License: public domain) */


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}



/* I. GLOBAL SELECTORS */



::placeholder {
	font: 1.1rem var(--ebgar);
}

::-webkit-input-placeholder {
	font: 1.1rem var(--ebgar);
}

:-moz-placeholder {
	font: 1.1rem var(--ebgar);
}

::-moz-placeholder {
	font: 1.1rem var(--ebgar);
}

::-ms-input-placeholder {
	font: 1.1rem var(--ebgar);
}

	input:focus,
	textarea:focus {
		outline: 0;
		filter: drop-shadow(0 0 7px var(--prpl-tr));
		border: 1px solid var(--lt-gr-tr);
	}

a {
	color: inherit;
}

	a:hover,
	a:active,
	a:focus {
		color: var(--prpl);
	}

body {
	margin: auto;
	display: grid;
	grid-template-areas:
		"header header header"
		"main main main"
		"footer footer footer";
	justify-content: center;
	align-items: center;
	z-index: 4;
}

footer {
	grid-area: footer;
}

hr {
	width: 50%;
	margin-left: 0;
	border-radius: 5px;
	margin: 1.5rem 0
}

h1 {
	font-weight: 700;
}	

h2 {
	font-weight: 600;
	font-size: 2.2rem;
	margin: 1.4rem 0;
}

h3 {
	font-weight: 600;
	font-size: 1.8rem;
	margin: 1rem 0 .7rem;
}

ol {
	list-style: decimal;
}

sup {
	vertical-align: super;
	font-size: .8rem;
}

header {
	display: flex;
	position: absolute;
	grid-area: header;
	height: 10vh;
	min-height: 50px;
	width: 100vw;
	background-color: #fff0;
	line-height: 1;
	z-index: 5;
	transition: all 500ms;
}

main {
	position: relative;
	grid-area: main;
	width: 100vw;
	margin: auto;
	padding: auto;
	z-index: 4;
}

	main > article {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--mw);
	}

.big-quote {
	margin: 2rem;
	text-align: center;
}

	.big-quote > p {
		margin: .7rem 0;
		letter-spacing: .1rem;
		word-spacing: .1rem;
		font-size: 1.75rem;
		font-style: italic;
		text-align: center;
	}

.footnote {
	font-size: 1rem;
}

.hr-container {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--mw);
	z-index: 5;
}

.hr-light {
	border: 1px solid var(--gr);
	margin: 2rem 0;
}

.logo {
	width: 70%;
	max-width: 55px;
	margin: auto;
	display: flex;
}

.picture {
	pointer-events: none;
	object-fit: cover;
	width: 100%;
	z-index: 1;
}

.picture-layer {
	position: absolute;
	background-color: #0001;
	width: 100%;
	height: var(--pic-layer-height);
	z-index: 2;
}

.quote {
	font-style: italic;
	padding: 1.5rem 2rem !important;
	text-align: center !important;
	background-color: var(--lt-ylw);
	border-radius: 5px;
	justify-self: center;
}



/* II. HEADER SELECTORS */



#index-title-text-container {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--lt-ylw);
	padding: 0 1rem;
	letter-spacing: .1rem;
	line-height: 1.2;
	z-index: 4;
}

	#index-title-text-container > h1 {
		width: 80%;
		max-width: 600px;
		font-weight: 800;
		font-size: 2.75rem;
		padding-bottom: .5rem;
		border-bottom: 3px double var(--lt-ylw);
	}

	#index-title-text-container > p {
		width: 100%;
		font-weight: 500;
		margin-top: .6rem;
		letter-spacing: 0.02rem;
		font-size: 1.5rem;
	}

#navigation {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: .25rem;
}

#logo-container {
	width: 20%;
}

#sidebar-link-container {
	height: 100%;
	width: 80%;
	max-width: 800px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;
}

	#sidebar-link-container > a {
		position: relative;
		width: fit-content;
		text-align: center;
		margin: 0 .7rem;
		text-decoration: none;
		color: var(--lt-ylw-tr);
	}

		#sidebar-link-container.active > a {
			color: var(--gr-tr);
		}

	#sidebar-link-container > a.on {
		color: var(--lt-ylw);
	}

		#sidebar-link-container.active > a.on {
			color: var(--gr);
		}

	#sidebar-link-container > a:hover,
	#sidebar-link-container > a:active,
	#sidebar-link-container > a:focus {
		color: var(--lt-ylw);
	}

		#sidebar-link-container.active > a:hover,
		#sidebar-link-container.active > a:active,
		#sidebar-link-container.active > a:focus {
			color: var(--gr);
		}

	#sidebar-link-container > a::before {
		content: "";
		position: absolute;
		width: 100%;
		height: .1rem;
		right: 0;
		bottom: -.1rem;
		background-color: var(--lt-ylw);
		transition: all 200ms;
		transform: translateX(200px);
		opacity: 0;
	}

		#sidebar-link-container.active > a::before {
			background-color: var(--gr);
		}
	#sidebar-link-container > a:hover::before,
	#sidebar-link-container > a:active::before,
	#sidebar-link-container > a:focus::before,
	#sidebar-link-container > a.on::before {
		content: "";
		opacity: 1;
		transform: translateX(0px);
	}
	
	#sidebar-link-container > a:visited {
		color: 0;
	}

#not-index article {
	z-index: 2;
}



/* III. MAIN PAGE SELECTORS


III.A. AT LEAST FOR TWO DIFFERENT GROUP OF PAGES */

#main-picture-box {
	position: relative;
	width: 100%;
	height: 100vh;
	z-index: 2;
}

	#not-index #main-picture-box {
		height: 60vh;
	}

	.main-picture-container .picture {
		min-width: 100vw;
		height: 100vh;
		z-index: 2;
	}

	#not-index .main-picture-container .picture {
		min-height: 50vh;
	}

.text-box,
.documentation-text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	letter-spacing: .02rem;
	position: relative;
	padding: 0 1rem;
	width: 100%;
	background-color: var(--mw);
	z-index: 4;
}

	.text-box p,
	.text-box ol,
	.text-box ul {
		text-align: left;
		margin: 1rem 0;
		padding: 0 1rem;
	}

	.text-box ol,
	.text-box ul {
		padding: 0 1.2rem 0 2rem;
	}

	.text-box li {
		list-style: decimal;
		padding: .5rem;
	}
			
.text-picture-box {
	position: relative;
	width: 100%;
	height: 60vh;
	z-index: 3;
}

	.text-picture-box .picture {
	height: 120%;
	}

#return-btn {
	text-decoration: none;
	font: 600 1.3rem var(--ebgar);
	padding: .7rem 7%;
	margin: 0 0 2rem;
	border-radius: 5px;
	text-transform: uppercase;
	background-color: var(--lt-ylw);
	color: var(--gr);
	transition: all 250ms;
}

	#return-btn:hover,
	#return-btn:active,
	#return-btn:focus {
		transform: scale(.95);
	}

/* III.B. INDEX PAGE AND KAT3B PAGES */

.index-picture-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #00000032;
	z-index: 1;
}

#text-box-announcement {
	height: 45vh;
	min-height: 315px;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.3rem;
	color: var(--mw);
	background-color: var(--prpl);
	box-shadow: 0 0 10px var(--gr);
	z-index: 5;
}

#text-box-announcement > a > button {
	font: 1.2em var(--ebgar);
	color: var(--mw);
	padding: .8rem 2rem;
	background-color: var(--prpl);
	border: 1px solid var(--prpl);
	border-radius: 5px;
	filter: drop-shadow(0 0 2rem var(--gr-tr));
}

	#text-box-announcement > a > button:hover {
		transform: scale(.95);
	}

.deadline {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0 1rem 1rem;
}

	.deadline-format div {
		display: flex;
		flex-direction: column;
	}

	.deadline-format h4 {
		margin: auto;
		font-size: 1.5em;
	}

	.deadline-format span {
		font-size: 1em;
	}

#index-body-navigation,
#k3b-chapter-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 2;
}

	#k3b-chapter-container h3 {
		padding: 0 1rem;
	}

	#index-body-navigation > section,
	#k3b-chapter-container > section {
		width: 80%;
		margin: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-self: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--x-lt-gr);
		border-radius: 5px;
		box-shadow: 0 0 25px var(--x-lt-gr);
		transition: all 200ms;
	}

		#index-body-navigation > section > a,
		#k3b-chapter-container > section > a {
			text-decoration: unset;
			color: var(--gr);
		}

		#index-body-navigation > section img,
		#k3b-chapter-container > section img {
			width: 100%;
			bottom: 0;
			object-fit: cover;
			min-height: 300px;
			max-height: 300px;
			border-bottom: 1px solid var(--x-lt-gr);
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		#index-body-navigation > section p,
		#k3b-chapter-container > section p {
			text-align: center;
			padding: 0 2rem 1.5rem;
			opacity: .85;
			font-size: 1rem;
			font-style: italic;
		}

		#index-body-navigation > section:active,
		#index-body-navigation > section:hover,
		#index-body-navigation > section:focus,
		#k3b-chapter-container > section:active,
		#k3b-chapter-container > section:hover,
		#k3b-chapter-container > section:focus {
			transform: scale(.95);
		}

.presentation-slider-container,
#dropdown-carousel-container > .dropdown-carousel-slider-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#dropdown-carousel-container {
	position: relative;
	width: 100vw;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

	#dropdown-carousel-container div {
		width: 100%;
		max-width: 48rem;
	}
	
	#dropdown-carousel-container .dropdown-carousel-toggler {
		width: 100%;
		height: 10vh;
		padding: 0 1rem;
		text-decoration: unset;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		transition: all 300ms;
	}

	#dropdown-carousel-container .dropdown-carousel-toggler:active,
	#dropdown-carousel-container .dropdown-carousel-toggler:focus,
	#dropdown-carousel-container .dropdown-carousel-toggler:hover {
		color: var(--gr);
	}

	#dropdown-carousel-container.on .dropdown-carousel-toggler {
		background: radial-gradient(ellipse at bottom, var(--mw-gr) 20%, var(--mw) 70%);
	}

		#dropdown-carousel-container .dropdown-carousel-toggler h2 {
			display: inline-flex;
			width: 100%;
			margin: 0;
			padding-left: 1.5rem;
			transition: 300ms;
		}

		#dropdown-carousel-container .dropdown-carousel-toggler div {
			width: 20%;
			height: 100%;
			display: inline-flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			transform: translateY(-3px);
			transition: all 250ms;
		}

		#dropdown-carousel-container.on .dropdown-carousel-toggler div {
			transform: translateY(-8px);
		}

			#dropdown-carousel-container .dropdown-carousel-toggler div span {
				width: 20px;
				height: .25rem;
				background-color: var(--gr);
				transition: all 250ms;
			}

			#dropdown-carousel-container .dropdown-carousel-toggler div span:first-child {
				transform-origin: center;
				transform: rotate(45deg) translateX(5px);
			}

			#dropdown-carousel-container .dropdown-carousel-toggler div span:nth-child(2) {
				transform-origin: center;
				transform: rotate(-45deg) translateX(-5px);
			}

			#dropdown-carousel-container.on .dropdown-carousel-toggler div span:first-child {
				transform: rotate(45deg) translateX(14px);
			}

			#dropdown-carousel-container.on .dropdown-carousel-toggler div span:nth-child(2) {
				transform: rotate(-45deg) translateX(-14px);
			}

	#dropdown-carousel-container > .dropdown-carousel-slider-container {
		background-color: var(--mw-gr);
		display: none;
		transition: all 250ms;
	}
	
	#dropdown-carousel-container.on > .dropdown-carousel-slider-container {
		display: flex;
		border-top: 2px solid var(--gr);
		border-bottom: 2px solid var(--gr);
		animation: dropdown-carousel-slider-fade-in 200ms forwards;
	}

	@keyframes dropdown-carousel-slider-fade-in {
		0% {
			opacity: 0;
			transform: translateY(-100px);
		}
		25% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	#dropdown-carousel-container.off > .dropdown-carousel-slider-container {
		display: flex;
		animation: dropdown-carousel-slider-fade-out 200ms forwards;
	}

	@keyframes dropdown-carousel-slider-fade-out {
		0% {
			opacity: 1;
			transform: translateY(0);
		}
		50% {
			opacity: 0;
		}
		99% {
			opacity: 0;
			transform: translateY(-100px)
		}
		100% {
			display: none;
		}
	}

		#dropdown-carousel-container > .dropdown-carousel-slider-container > .slider-container {
			width: 100%;
			min-height: 24rem;
		}

		#dropdown-carousel-container > .dropdown-carousel-slider-container > .slider-container > .dropdown-slide {
			height: 100%;
			padding: 0 .75rem;
		}

		#dropdown-carousel-container > .dropdown-carousel-slider-container > .slider-container > .dropdown-slide h3 {
			font-size: 1.5rem;
		}

		#dropdown-carousel-container > .dropdown-carousel-slider-container > .slider-container > .dropdown-slide p {
			font-size: 1rem;
		}

#k3b-sub-chapter-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

	#k3b-sub-chapter-container section {
		z-index: 5;
		position: relative;
		width: 80%;
		height: 60vh;
		margin: 5rem 0;
		overflow: hidden;
	}

	#k3b-sub-chapter-container a {
		text-decoration: none;
		width: 100%;
		height: 100%;
		padding: 0 2rem;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: var(--mw);
	}

	#k3b-sub-chapter-container a:hover,
	#k3b-sub-chapter-container a:active,
	#k3b-sub-chapter-container a:focus {
		color: var(--mw);
	}

	#k3b-sub-chapter-container h2 {
		opacity: 0;
		transition: all 600ms;
	}

	#k3b-sub-chapter-container p {
		font: italic 1rem var(--ebgar);
		opacity: 0;
		transition: all 600ms;
	}

	#k3b-sub-chapter-container .picture-layer {
		position: absolute;
		opacity: .15;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: var(--gr-tr);
		transition: all 600ms;
	}

	#k3b-sub-chapter-container .picture {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
		transition: all 600ms;
	}

	#page-title-text-container {
		font-size: 3rem;
		padding: 3rem 1.5rem 1rem;
		max-width: 50rem;
		text-align: center;
	}

/* III.C. EVENT PAGES */

	.event-page {
		flex-direction: row;
		flex-wrap: wrap;
	}

		.event-page section {
			max-height: 90vh;
			width: 90%;
			margin: 1rem;
			padding: .25rem;
			border: 1px solid var(--lt-gr);
			border-radius: 5px;
			box-shadow: 0 0 25px var(--x-lt-gr);
			transition: all 100ms;
			opacity: .95;
		}

			.event-page section:hover,
			.event-page section:active,
			.event-page section:focus {
				transform: scale(.95);
				opacity: 1;
			}

		.event-page a {
			text-decoration: unset;
			color: var(--gr);
		}

		.event-page h2 {
			width: 100%;
		}
		
		.event-page img {
			width: auto;
			max-width: 50%;
			max-height: 50vh !important;
			margin: 1rem;
			border: 1px solid var(--lt-gr);
			border-radius: 5px;
		}

		.event-page p {
			text-align: center;
			font-size: initial;
			padding: 0 1rem;
		}

.documentation-text-box {
	flex-direction: row;
	flex-wrap: wrap;
}

	.documentation-text-box img {
		width: 45%;
		margin: 1rem;
		border: 1px solid var(--x-lt-gr);
		border-radius: 5px;
	}
			
.slider-container {
	position: relative;
	width: 90vw;
	height: 10rem;
	overflow: hidden;
	border-radius: 2px;
	transition: all 200ms;
}

	.slider-container:hover,
	.slider-container:active,
	.slider-container:focus {
		filter: drop-shadow(0 0 25px var(--x-lt-gr));
	}

.slider-button-container {
	position: relative;
	display: flex;
	justify-content: center;
}

	.slider-button-container > button {
		background-color: #0000;
		border: 0;
		font-size: 2rem;
		transition: all 100ms;
	}

		.slider-button-container > button:hover,
		.slider-button-container > button:active,
		.slider-button-container > button:focus {
			outline: 0;
			transform: scale(1.3);
		}

.slide,
.dropdown-slide {
	position: absolute;
	width: 100%;
	height: 100%;
  	transition: all 150ms ease-in-out;
}

.slide-img, 
#dropdown-carousel-container > .dropdown-carousel-slider-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.js-form-rgstr-text-to-change {
	text-align: center;
}

.js-form-rgstr-abba90 {
	width: 100%;
	height: 120vh;
	min-height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 4;
	padding: 2rem;
	margin: 1rem 0 1.5rem;
	text-align: left;
	font: 1.4rem var(--ebgar);
	filter: drop-shadow(0 0 50px var(--x-lt-gr));
	border: 1px solid var(--x-lt-gr);
	border-radius: 10px;
}

	.js-form-rgstr-abba90.off {
		animation: js-form-rgstr-abba90-fades-away 600ms forwards;
	}

	@keyframes js-form-rgstr-abba90-fades-away {
		100% {
			transform: scale(0);
			opacity: 0;
		}
	}

	.js-form-rgstr-abba90 label {
		width: 100%;
		height: fit-content;
		margin: .5rem 0;
	}

	.js-form-rgstr-abba90 input {
		width: 100%;
		height: 100%;
		padding: 0 .5rem;
		border: 1px solid var(--x-lt-gr);
		border-radius: 2px;
	}

	.js-form-rgstr-abba90 legend:last-of-type {
		position: relative;
	}

	.js-form-rgstr-abba90 legend:last-of-type::after {
		content: "(Lengkap)";
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin: .1rem 0 0;
		font-size: 1.1rem;
	}

	.js-form-rgstr-abba90 div:last-of-type {
		margin-top: 1rem;
		padding: 0 .8rem;
	}

			.js-form-rgstr-abba90 div:last-of-type ol li {
				font-size: .8rem;
				padding: 0;
			}

.rgstr-contact-info {
	width: 100%;
}

.radio-btn {
	position: relative;
	margin: 0 0 .5rem;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 1.1rem;
}

	.radio-btn input {
		display: inline-block;
		position: relative;
		left: 0;
		height: 1.1rem;
		width: 1.1rem;
		padding: 0 !important;
		background-color: #eee;
		border-radius: 50%;
	}

		.radio-btn input:hover {
			background-color: #ccc;
		}

		.radio-btn input:checked {
			background-color: var(--grn);
		}


	.radio-btn label {
		display: inline-block; 
		position: relative;
		left: .5rem;
		width: calc(100% - 2.2rem);
		height: 1.1rem;
		vertical-align: baseline;
	}

	.js-form-rgstr-abba90 #home-address {
		height: 8rem;
	}

button[type="submit"] {
	width: fit-content;
	height: fit-content;
	margin-top: 1rem;
	padding: .5rem 1.25rem;
	border: 0;
	border-radius: 5px;
	align-self: center;
	background-color: var(--grn);
	font: 1.4rem var(--ebgar);
	color: var(--mw);
	transition: all 75ms;
}

	button[type="submit"]:active,
	button[type="submit"]:hover {
		transform: scale(.95);
		outline: 0;
	}



/* IV. FOOTER SELECTORS */



footer {
	width: 100vw;
	padding: .5rem 2rem;
	background-color: var(--lt-ylw);
	z-index: 4;
	display: grid;
	grid-template-areas:
		/* "sitemap sitemap" */
		"contact contact"
		"address address"
		"copyright copyright";
	gap: 1.25rem .5rem;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#footer-contact {
	grid-area: contact;
	height: 100%;
	width: 50%;
	min-width: 300px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

	#footer-contact p {
		display: block;
		width: 100%;
		padding: 1rem;
		font-size: 1.4rem;
	}

	#footer-contact img {
		height: 25px;
	}

#footer-address {
	grid-area: address;
	width: 100%;
	padding: 0 2rem;
	font-size: 1rem;
}

#footer-copyright {
	width: 100%;
	padding: 0 1rem;
	grid-area: copyright;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	font-size: .85rem;
	color: var(--gr-tr);
}

	#footer-copyright p {
		font-style: italic;
	}



/* V. MEDIA QUERY SELECTORS */



@media (min-width: 21.5rem) { /* 344px */
			#dropdown-carousel-container > .dropdown-carousel-slider-container > .slider-container {
				min-height: 21rem;
			}
}

@media (min-width: 24rem) { /* 384px */
		#index-title-text-container h1 {
			font-size: 2.75rem;
		}

		#index-title-text-container p {
			font-size: 1.5rem;
		}

		#sidebar-link-container a {
			margin: 0 .75rem;
		}

	#text-box-announcement {
		height: 50vh;
		font-size: 1.5rem;
		padding: 0 2rem;
	}
	
			#text-box-announcement .deadline-format h4 {
				font-size: 1.7em;
			}

	.slider-container {
		height: 15rem;
	}

			#dropdown-carousel-container > .dropdown-carousel-slider-container > .slider-container {
				min-height: 20rem;
			}

	#footer-title {
		font-size: 1.7rem;
	}
}

@media (min-width: 25.5rem) { /* 408px */
			#dropdown-carousel-container > .dropdown-carousel-slider-container > .slider-container {
				min-height: 19rem;
			}
}

@media (min-width: 28rem) { /* 448px */
			#dropdown-carousel-container > .dropdown-carousel-slider-container > .slider-container {
				min-height: 17rem;
			}
}

@media (min-width: 29rem) { /* 464px */
	header {
		height: 9vh;
	}

	#logo-container {
		width: 15%;
	}

	#sidebar-link-container {
		width: 85%;
		flex-wrap: unset;
	}

	.text-box {
		padding: 0 1rem;
	}

		#index-title-text-container h1 {
			font-size: 3.6rem;
		}

	#text-box-announcement {
		font-size: 1.75rem;
	}

			#text-box-announcement .deadline-format h4 {
				font-size: 1.9em;
			}
		
			#text-box-announcement .deadline-format span {
				font-size: 1.1em;
			}

	.slider-container {
		height: 18rem;
	}

			#dropdown-carousel-container > .dropdown-carousel-slider-container > .slider-container {
				height: fit-content;
				min-height: 16rem;
			}
}		

@media (min-width: 37rem) { /* 592px */
		#sidebar-link-container > a {
			font-size: 1.1rem;
			letter-spacing: .05rem;
			word-spacing: .05rem;
		}

	#index-title-text-container {
		width: 100%;
	}
	
		#index-title-text-container h1 {
			font-size: 4rem;
		}

		#index-title-text-container p {
			font-size: 2rem;	
		}
	
	.slider-container {
		height: 25rem;
	}

			#dropdown-carousel-container > .dropdown-carousel-slider-container > .slider-container {
				height: fit-content;
				min-height: 14rem;
			}
}

@media (min-width: 48rem) { /* 768px */
		#sidebar-link-container > a {
			font-size: 1.4rem;
		}

		#index-title-text-container h1 {
			font-size: 4rem;
		}

		#index-title-text-container p {
			font-size: 2rem;	
		}

	main {
		position: relative;
		flex-direction: column;
		align-items: center;
	}

	.text-box {
		padding: 2rem;
		background-color: var(--mw);
	}

		.text-box > * {
			max-width: 70ch;
		}

	#text-box-announcement {
		width: 70%;
		max-height: 500px;
		min-height: 450px;
		padding: 0 2.5rem;
		font-size: 1.8rem;
		border-radius: .5rem;
	}

		#text-box-announcement p {
			width: 80%;
		}

		#text-box-announcement .deadline-format {
			background-color: var(--prpl);
		}

			#text-box-announcement .deadline-format h4 {
				font-size: 2.5em;
			}

			#text-box-announcement .deadline-format span {
				font-size: 1.2em;
			}

			#text-box-announcement > a > button {
				padding: .8rem 4rem;
			}

	#index-body-navigation,
	#k3b-chapter-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}

	#k3b-chapter-container {
		width: 70vw;
	}
	
		#k3b-sub-chapter-container a {
			padding: 5rem;
		}

		#k3b-sub-chapter-container p {
			font-size: 1.2rem;
		}

		#k3b-sub-chapter-container h2 {
				font-size: 2.5rem;
		}
		
		#k3b-sub-chapter-container section {
			height: 85vh;
		}

		#index-body-navigation > section,
		#k3b-chapter-container > section {
			width: 40vw;
			background-color: var(--mw);
			grid-column-gap: 2rem;
			transition: all 100ms;
		}

			#index-body-navigation > section:hover,
			#k3b-chapter-container > section:hover {
				transform: scale(.95);
			}

			#index-body-navigation > section > a,
			#k3b-chapter-container > section > a {
				transition: all 100ms;
			}

			#index-body-navigation > section:nth-child(3) {
				width: 70%;
				grid-column: span 2;
			}

	.slider-container {
		height: 32rem;
	}

		.js-form-pryr-pts textarea {
			margin: 2.5rem 0 0;
		}

		#dropdown-carousel-container.on > .dropdown-carousel-slider-container {
			border: 2px solid var(--gr);
		}

			#dropdown-carousel-container > .dropdown-carousel-slider-container > .slider-container {
				height: fit-content;
				min-height: 13rem;
			}
}

@media (min-width: 57rem) { /* 912px */
	#index-title-text-container h1 {
		font-size: 5rem;
	}

	#index-title-text-container p {
		font-size: 2.5rem;	
	}

}