*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--lt-ylw: #faf16b;
	--ylw: #f8e70f;
	--ylw-org: #f8bf0f;
	--org: #f8930f;
	--org-red: #f8450f;
	--red: #f80f0f;
	--lt-gr-tr: #1111;
	--gr: #222;
	--gr-tr: #222b;
	--mw: #fdfff5;
	--mw-tr: #fdfff566;
	--prpl: #5e1e83;
	--drk-prpl: #38114e;
	--tr: 'Times New Roman', Times, serif;
	font: 16px var(--tr);
	color: var(--gr);
	background-color: var(--mw);
	width: 100vw;
}

/* RESET */
/* Based on meyerweb.com/eric/tools/css/reset (v2.0 | 20110126 | License: public do.main) */

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: var(--tr);
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* I. GLOBAL SELECTORS */

a {
	color: inherit;
}

a:hover,
a:active,
a:focus {
	color: #f8370f;
}

body {
	margin: auto;
	display: grid;
	grid-template-areas:
		"header main main"
		"header main main"
		"header footer footer";
	justify-content: center;
	align-items: center;
	z-index: 4;
}

footer {
	grid-area: footer;
}

.header {
	background: linear-gradient(45deg, var(--ylw), var(--ylw-org));
	height: 100%;
	width: 75%;
	grid-area: header;
	position: fixed;
	display: none;
	z-index: 5;
	box-shadow: 0 0 100px 5px var(--gr);
}

hr {
	width: 50%;
	margin-left: 0;
	border-radius: 5px;
	margin: 1.5rem 0
}

h1 {
	font-weight: bold;
}	

h2 {
	font-weight: bold;
	font-size: 2rem;
	margin: 1.4rem 0;
}

h3 {
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1rem 0 .7rem;
}

ol {
	list-style: decimal;
}

.rgstr-abba90-radio-btn {
	position: absolute;
  	height: 25px;
  	width: 25px;
  	background-color: #eee;
  	border-radius: 50%;
}

.rgstr-abba90-radio-btn:hover {
	background-color: #ccc;
}

.rgstr-abba90-radio-btn:checked {
	background-color: #2196F3;
}

.main {
	margin: auto;
	padding: auto;
	grid-area: main;
	width: 100vw;
	height: 100%;
	z-index: 4;
}

.main > article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.big-quote {
	margin: 2rem;
	text-align: center;
}

	.big-quote > p {
		margin: .7rem 0;
		letter-spacing: .1rem;
		word-spacing: .1rem;
		font-size: 1.5rem;
		font-style: italic;
		text-align: center;
	}

.quote {
	width: 75%;
	font-style: italic;
	font-size: 1.3rem;
	padding: 1rem 2rem;
	text-align: center;
	background-color: var(--ylw-org);
	justify-self: center;
}

.h2 {
	font-size: 3em;
}

.hr-light {
	border: 1px solid var(--gr);
}

.hr-light-yellow {
	border: 1px solid var(--lt-ylw);
}

.hr-bold {
	border: 2px solid var(--gr);
}

.hr-bold-yellow {
	border: 2px solid var(--lt-ylw);
}

.hr-max-width {
	width: 100%;
	max-width: 30rem;
	display: flex;
	justify-content: center;
}

.logo-byb-header {
	width: 50%;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.logo-yellow {
	display: none;
}

/* II. SIDEBAR SELECTORS */

#navigation {
	top: 0;
	background-color: rgba(255,255,255,0.0);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: auto;
	width: 100%;
	padding-top: calc(100vh - 97.5vh);
}

.sidebar-link {
	margin: 1rem;
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

	.sidebar-link > a {
		width: 100%;
		display: block;
		padding: .4rem .5rem;
		text-align: center;
		font-size: 1.25rem;
		text-decoration: none;
		letter-spacing: .1rem;
		word-spacing: .1rem;
	}
	
	.sidebar-link > a:visited {
		color: "";
	}

/* II.A. SIDEBAR ANIMATION
II.A.1. ON THE BURGER BUTTON
ACTIVATES AND DEACTIVATES THE HEADER */
.js-click-fn-burger {
	position: fixed;
	top: .6rem;
	left: .4rem;
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 2.4rem;
	height: 1.4rem;
	z-index: 6;
}

	.js-click-fn-burger::after {
		content: "";
		position: absolute;
		width: 2.1rem;
		height: 1.6rem;
		background-color: #0001;
		border: .5px solid #0003;
	}

		.js-click-fn-burger.on::after {
			content: "";
			background-color: inherit;
			border: inherit;
		}

	.js-click-fn-burger .burger {
		height: .1rem;
	    width: 50%;
		background-color: black;
	}
	
	.js-click-fn-burger.on {
		z-index: 6;
	}

		.js-click-fn-burger.on .burger {
			animation: normal-burger-dissapear 250ms forwards;
		}

		@keyframes normal-burger-dissapear {
			100% {
				opacity: 0.0;
			}
		}
/* THE BUTTON AS A WHOLE FADES AWAY BUT THE MIDDLE LINE
AND ITS PSEUDO CLASS ROTATES TO MAKE AN "X" SHAPE */
		.js-click-fn-burger.on .x-burger {
			animation: x-burger-appear 250ms forwards;
		}

		@keyframes x-burger-appear {
			100% {
				transform: rotate(45deg);
			}
		}

			.js-click-fn-burger.on .x-burger::before {
				content: "";
				animation: x-burger-appear-2 250ms forwards;
				height: .1rem;
			    width: 100%;
				background-color: black;
				position: absolute;
				transform: rotate(0deg);
			}

			@keyframes x-burger-appear-2{
				100% {
					transform: rotate(90deg);
				}
			}

	.js-click-fn-burger.off {
		z-index: 6;
	}

		.js-click-fn-burger.off .burger {
			opacity: 0.0;
			animation: normal-burger-appear 250ms forwards;
		}

		@keyframes normal-burger-appear {
			100% {
				opacity: 1;
			}
		}
/* THE BUTTON AS A WHOLE FADES IN, THE MIDDLE LINE
AND ITS PSEUDO CLASS GOES BACK TO THEIR ORIGINAL STATE */
		.js-click-fn-burger.off .x-burger {
			opacity: 1;
			transform: rotate(45deg);
			animation: x-burger-dissapear 250ms forwards;
		}

		@keyframes x-burger-dissapear {
			100% {
				transform: initial;
			}
		}

			.js-click-fn-burger.off .x-burger::before {
				content: "";
				animation: x-burger-dissapear-2 250ms forwards;
				height: .1rem;
			    width: 100%;
				background-color: black;
				position: absolute;
				transform: rotate(90deg);
			}

			@keyframes x-burger-dissapear-2 {
				100% {
					transform: initial;
					opacity: 0.0;
				}
			}

/* II.A.2. ON THE HEADER
ACTIVATION AND DEACTIVATION DEPENDS ON THE BURGER BUTTON */
.sidebar-animation.on {
	animation: header-appear 375ms forwards;
	display: flex;
}

@keyframes header-appear {
	0% {
		transform: translateX(-150px);
		opacity: 0.0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.sidebar-animation.off {
	animation: header-dissapear 375ms forwards;
	display: flex;
}

@keyframes header-dissapear {
	0% {
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		transform: translateX(-150px);
		opacity: 0.0;
	}
}

/* III. MAIN PAGE */

.deadline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
}

.deadline-format {
	margin: .4rem;
}

	.deadline-format > div {
		background-color: var(--ylw-org);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: .2rem .5rem;
		width: 100%;
		font-size: 1.5rem;
	}

		.deadline-format > div > h4 {
			margin: auto;
			font-size: 1.8rem;
		}

#title-box {
	position: relative;
	width: 100%;
	height: 100vh;
	z-index: 3;
	display: flex;
}

#title-text-box {
	text-align: center;
	padding: 1.5rem;
	margin: auto;
	z-index: 4;
	max-width: 100vw;
}

	#title-text-box > h1 {
		font-size: 2.6rem;
		letter-spacing: .1rem;
		line-height: 1.2;
		color: var(--mw);
		background-color: #00000047;
		border-radius: 15px;
		padding: 1rem .5rem;
		box-shadow: 0 0 125px var(--gr);
	}

.text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	letter-spacing: .02rem;
	position: relative;
	padding: .5rem 3rem;
	width: 100vw;
	background-color: var(--mw);
	z-index: 4;
}

	.text-box > * {
		max-width: 42rem;
	}

	.text-box p {
		margin: 1rem 0;
	}

	.text-box ol {
		text-align: start;
		font-size: 1.5rem;
	}

	.text-box li {
		padding: .7rem;
	}
			
.text-picture-box {
	position: relative;
	width: 100%;
	height: 60vh;
	z-index: 3;
}
			
	.text-picture-box div:first-child,
	.picture > div {
		position: absolute;
		background-color: #0003;
		width: 100%;
		height: var(--pic-layer-height);
		z-index: 3;
	}


	.text-picture-box div:first-child {
		background-color: #0001;
	}
			
.picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 125%;
}

	.picture > img {
		width: 100%;
	}

.title-picture {
	height: 100%;
}
			
#text-box-announcement {
	font-size: 1.2rem;
	color: var(--mw);
	background-color: var(--prpl);
	position: relative;
	width: 100%;
	height: 50vh;
	padding: 0 2rem;
	box-shadow: 0 0 10px var(--gr);
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 5;
}

		#text-box-announcement > a > button {
			font: 1.2em var(--tr);
			color: var(--mw);
			padding: .3rem 1rem;
			background-color: var(--prpl);;
			border: 1px solid var(--prpl);
			border-radius: .4rem;
		}

			#text-box-announcement > div.deadline > div.deadline-format > div {
				background-color: var(--prpl);
			}	

#chapter-link {
	font-size: 2em;
}
	
#chapter-link:hover {
	color: white;
	padding-left: 10px;
}

.index-body-navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

	.index-body-navigation > section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 1.2rem;
	}

		.index-body-navigation > section > *  {
			margin: .5rem;
		}

		.index-body-navigation > section > img {
			width: 100%;
		}

		.index-body-navigation > section > p {
			font-style: italic;
		}

.picture-for-webinar {
	background: url(../photo/main-page/byb-alkitab-fitur.jpg) no-repeat center/cover;
}

.picture-for-prayp {
	background: url(../photo/halaman-muka/byb-pokok-doa.jpg) no-repeat center/cover;
}

.container-slider {
	position: relative;
	width: 100%;
	height: 45vh;
}

.container-slider-btn {
	position: relative;
	display: flex;
	justify-content: center;
}

	.container-slider-btn > button {
		background-color: var(--mw);
		border: 0;
		font-size: 2rem;
		font-weight: bold;
	}

.slide {
	position: absolute;
}

	.slide > img {
		width: 100%;
	}

#return-btn {
	font-family: var(--tr);
	font-weight: bold;
	font-size: 1.3rem;
	text-transform: uppercase;
	background-color: var(--mw);
	color: var(--gr);
	margin: 2rem 0;
	padding: .4rem 10%;
	border: 1.5px solid var(--gr-tr);
	transition: color 500ms, border-color 500ms, box-shadow 500ms;
}

	#return-btn:hover {
		color: var(--org);
		box-shadow: 0 0 5px var(--gr);
		border-color: var(--org);
	}

.form-rgstr-abba90 {
	width: 90%;
	height: 80vh;
}

.form-rgstr-abba90-alamat-rumah::after {
	content: "(Lengkap)";
}


/* IV. FOOTER SELECTORS */

/* IV.A. CONTACT US SELECTORS */
.footer {
	background-color: var(--lt-ylw);
	padding: 2vh 15vw;
	z-index: 4;
}

	.footer > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.footer > div:first-child {
		letter-spacing: .03rem;
	}

.copyright {
	margin-bottom: 1rem;
	display: flex;
}

	.copyright > div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: .5rem;
	}

		.copyright > div > * {
			font-style: italic;
			margin: .2rem;
		}

.js-form-contact-us {
	flex-direction: column;
	display: none;
	justify-content: space-evenly;
	width: 100%;
	margin: .7rem 0 1.5rem;
	padding: .7rem 1.5rem 1rem;
	background-color: var(--gr);
	border-radius: 15px;
}

	.js-form-contact-us > * {
		margin: .5rem 0;
		border: 0;
	}

	.js-form-contact-us > textarea {
		height: 25vh;
		width: 100%;
	}

	.js-form-contact-us > button {
		align-self: center;
		height: 8vh;
		font: 1.2rem var(--tr);
		width: 75%;
		background-color: #3a6;
		border: 0;
	}

	.js-form-contact-us > legend {
		align-self: flex-start;
		font-size: 1.2rem;
		color: var(--mw);
	}

		.js-form-contact-us > label > input {
			height: 8vh;
			width: 100%;
			border: 0;
		}

		:is(.js-form-contact-us > label) input::placeholder,
		input::-webkit-input-placeholder,
		input:-moz-placeholder,
		input::-moz-placeholder,
		input::-ms-input-placeholder {
			font: 1.1rem var(--tr);

		}

	:is(.js-form-contact-us) textarea::placeholder,
	textarea::-webkit-input-placeholder,
	textarea:-moz-placeholder,
	textarea::-moz-placeholder,
	textarea::-ms-input-placeholder {
		font: 1.1rem var(--tr);
	}

.contact-us-btn {
	text-align: center;
	text-decoration: none;
	font: bold 1.7rem var(--tr);
	padding: 1rem;
	display: inline-block;
}

	.contact-us-btn:active {
		transform: scale(1.1);
		color: black;
	}

	.contact-us-btn:visited {
		color: black;
	}

/* IV.B. CONTACT US FORM ANIMATION */
	.js-form-contact-us.on {
		animation: js-form-contact-us-appear 500ms forwards ease-out;
		display: flex;
	}

	@keyframes js-form-contact-us-appear {
		0% {
			transform: translateX(-1500px) scale(.7);
		}
		75% {
			transform: translateX(0px) scale(.7);
		}
		100% {
			transform: scale(1);
		}
	}

	.js-form-contact-us.off {
		animation: js-form-contact-us-disappear 500ms forwards ease-in;
		display: flex;
	}

	@keyframes js-form-contact-us-disappear {
		0% {
			transform: scale(1);
		}
		25% {
			transform: translateX(0px) scale(.7);
		}
		100% {
			transform: translateX(1500px) scale(.7);
		}
	}


/* V. PENGATURAN MEDIA QUERY */
@media (min-width: 48rem) {
	body {
		grid-template-areas:
			"main main header"
			"main main header"
			"footer footer header";
	}

	.header {
		display: flex;
		justify-content: flex-end;
		right: 0;
		background: 0;
		box-shadow: 0 0 0;
		width: 17%;
	}
	
	#navigation {
		width: 100%;
		height: 100%;
		padding: 0;
	}

		#navigation div:first-child {
			width: 100%;
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 1rem;
		}

		#navigation div a::before {
			content: "";
			position: absolute;
			width: 3rem;
			height: 3rem;
		}

	.sidebar-link {
		position: relative;
		justify-content: flex-start;
		align-items: flex-end;
		padding: 0;
		margin: 0;
	}

	.js-dropdown > a {
		position: relative;
		text-align: right;
		display: none;
		right: 0;
		width: 80%;
		font-size: 1.1rem;
		line-height: 1;
		color: var(--gr-tr);
		box-shadow: 0 0 2px var(--lt-gr-tr);
		transition: background-color 150ms ease-in-out;
	}

	.js-dropdown > a[href*="index"] {
		border-top-left-radius: 7px;
	}

	.js-dropdown.on > a {
		transform: translateY(-500px);
		opacity: 0;
		display: block;
		animation: dropdown-appear 500ms forwards;
	}

	@keyframes dropdown-appear {
		70% {
			opacity: 0;
		}
		100% {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	.js-dropdown.off > a {
		transform: translateY(0px);
		opacity: 1;
		display: block;
		animation: dropdown-dissapear 500ms forwards;
	}

	@keyframes dropdown-dissapear {
		30% {
			opacity: 0;
		}
		100% {
			transform: translateY(-500px);
		}
	}

		.js-dropdown > a:hover {
			background-color: var(--mw);
			color: var(--gr);
		}

		.js-dropdown > a::after {
			content: "";
			position: absolute;
			display: block;
			bottom: 0;
			left: 0;
			right: 0;
			height: 2px;
			transform: translateX(250px);
			background-color: var(--gr);
			transition: transform 150ms ease-in-out;
		}

		.js-dropdown > a:hover::after,
		.js-dropdown > a.on::after {
			transform: translateX(0);
		}

	.logo-byb-header {
		margin-right: 5px;
		animation: blink 1.5s infinite;
	}
	@keyframes blink {
		40% {
			filter: drop-shadow(0 0 2rem var(--prpl));
		}
		60% {
			filter: drop-shadow(0 0 2rem var(--prpl));
		}
	}

	.js-click-fn-burger {
		display: none;
	}

	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

		.main::after {
			content: "";
			position: absolute;
			background-color: var(--lt-gr-tr);
			top: 0;
			left: 0;
			width: 100vw;
			height: var(--layer-height);
			z-index: 2;
		}

	.main > article,
	.text-box {
		background-color: var(--mw);
		width: 65vw;
		z-index: 4;
	}

	.main article:nth-child(2),
	.text-box:first-child {
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}
		
	.picture {
		z-index: 2;
	}

		#title-text-box > h1 {
			font-size: 4.5rem;
			padding: 2.4rem 2rem;
			color: var(--mw);
		}

	#text-box-announcement {
		width: 75vw;
		height: 65vh;
		font-size: 2rem;
		padding: 0 5rem;
	}

			#text-box-announcement > a > button {
				font-size: 1em;
				padding: .8rem 4rem;
				transition: transform 100ms, filter 100ms;
			}

				#text-box-announcement > a > button:hover {
					filter: drop-shadow(0 0 2rem var(--gr-tr));
					transform: scale(1.04);
				}

		.deadline-format h4 {
			font-size: 2.5em;
		}

		.deadline-format span {
			font-size: 1.2em;
		}

	.deadline {
		width: 70%;
	}
}