@font-face {
	font-family: "sKFalconRLight";
	src:
		local("SK Falcon R Light"),
		local("SK-Falcon-R-Light"),
		url("SalihKizilkaya-SKFalconRLight-Light.ttf")
		format("opentype");
	
	font-family: "georgia";
	src:
		local("Georgia"),
		url("Georgia.ttf")
		format("opentype");
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	color: black;
}

a:hover {
	color: tomato;
}

a:focus {
	color: #db3d16;
}

body {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-areas:
		"header main main"
		"header main main"
		"header footer footer"
}

footer {
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	grid-area: footer;
	position: relative;
	bottom: 0px;
	z-index: 0;
}

header {
	background-color: rgba(255,255,255,0.8);
	margin-top: 0px;
	margin-left: 0px;
	padding: 0;
	height: 100%;
	width: 25%;
	grid-area: header;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	z-index: 1;
}

html {
	font-family: "georgia", monospace;
	font-size: 10px;
	color: black;
	background-color: #fffea9;
}

h1 {
	font-size: 5em;
	text-align: center;
}	

h2 {
	font-size: 3em;
}

main {
	padding-right: 0px;
	margin-right: 0px;
	grid-area: main;
}

nav {
	background-color: white;
	font-weight: bold;
}

p {
	font-size: 2em;
}

ol {
	font-size: 2em;
}

#box {
	background-color: white;
	text-align: center;
	padding: 15px;
	margin-top: 25px;
	margin-left: 50px;
	margin-right: 50px;
	box-shadow: 5px 5px #999, 10px 10px #555;
}

#box2 {
	background-color: #fffea9;
	padding: 1.5em;
}

#box-abba90 {
	background-color: tomato;
	font-weight: bold;
	padding: 1px;
	text-align: center;
}

#kembali {
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
}

#keteranganSingkat {
	font-size: 1.1em;
	padding: 0px 200px 10px 200px;
}

#logo-byb {
	padding-top: 55px;
	padding-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10cm;
	border-radius: 50%;
}

#logo-header-byb {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#navigation {
	font-size: 1.8rem;
	letter-spacing: 1pt;
	background-color: rgba(255,255,255,0.0);
}

#sedangDibangun {
	text-align: center;
	font-size: 1.1em;
	animation-name: "sedangDibangun";
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

	@keyframes sedangDibangun {
		0%	{
			margin-right: 70%;
			opacity: 0;
		}

		15% {
			opacity: 1;
		}

		85% {
			opacity: 1;
		}

		100% {
			margin-left: 70%;
			opacity: 0;
		}
	}
	
#tautan-sidebar ul {
	padding: 0px;
	text-align: center;
}

#tautan-sidebar li {
	list-style: none;
	text-align: center;
}

#tautan-sidebar li a {
	display: block;
	padding: 10px 75px 10px 75px;
}

#tautan-sidebar li a:hover {
	display: block;
	background-color: #777;
	color: white;
}

#tautan-sidebar li a:visited {
	color: "";
}

#tombolKKK {
	background-color: #777;
	text-align: center;
	font-size: 1.25em;
	padding: 5px;
	margin-top: -5px;
	margin-bottom: 15px;
	display: inline-block;
}

#tombolKKK:hover {
	background-color: #fffea9;
	transform: scale(1.25);
}

#tentangKami {
	margin: 15px 100px 45px 100px;
}

#tujuhPasal {
	font-size: 2em;
}
	
#tujuhPasal:hover {
	color: white;
	padding-left: 10px;
}

.afbh:hover {
	color: black;
}

.block {
	display: inline-block;
}

.center {
	text-align: center;
}

.form {
	padding: 5px;
}

.h2 {
	font-size: 3em;
}

.h3 {
	font-size: 2.5em;
}

.header {
	justify-content: space-evenly;
}

.header.active {
	animation-name: headApp;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	display: flex;
}

@keyframes headApp {
	0% {
		left: -100px;
		opacity: 0.0;
	}
	100% {
		left: 0px;
		opacity: 1;
	}
}

.header.disable {
	animation-name: headDis;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	display: flex;
}

@keyframes headDis {
	0% {
		left: 0px;
		opacity: 1;
	}
	100% {
		left: -100px;
		opacity: 0.0;
	}
}

.p {
	font-size: 2em;
}

.marginAyatBesar {
	margin: 0px 175px 0px 175px;
}

.marginP {
	margin: 25px 25px 40px 25px;
}

.sidebar-toggle {
	position: fixed;
	top: 1rem;
	left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 60px;
	height: 50px;
	border-radius: 25%;
}

.sidebar-toggle::after {
	content: "";
	position: absolute;
	width: 105px;
	height: 95px;
}

.sidebar-toggle .burger {
	height: 5px;
    width: 80%;
	background-color: black;
    border-radius: 12px;
}

.sidebar-toggle.active {
	z-index: 2;
}

.sidebar-toggle.active .burger {
	animation-name: tbBurDis;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
}

@keyframes tbBurDis {
	100% {
		opacity: 0.0;
	}
}

.sidebar-toggle.active .burger2 {
	animation-name: mBur1;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
}

@keyframes mBur1 {
	100% {
		transform: rotate(45deg);
	}
}

.sidebar-toggle.active .burger2::before {
	content: "";
	animation-name: mBur2;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	height: 5px;
    width: 100%;
	background-color: black;
	border-radius: 12px;
	position: absolute;
	transform: rotate(0deg);
}

@keyframes mBur2{
	100% {
		transform: rotate(90deg);
	}
}

.sidebar-toggle.disable {
	z-index: 2;
}

.sidebar-toggle.disable .burger {
	opacity: 0.0;
	animation-name: tbBurApp;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
}

@keyframes tbBurApp {
	100% {
		opacity: 1;
	}
}

.sidebar-toggle.disable .burger2 {
	opacity: 1;
	transform: rotate(45deg);
	animation-name: mBur1Dis;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
}

@keyframes mBur1Dis {
	100% {
		transform: initial;
	}
}

.sidebar-toggle.disable .burger2::before {
	content: "";
	animation-name: mBur2Dis;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	height: 5px;
    width: 100%;
	background-color: black;
	border-radius: 12px;
	position: absolute;
	transform: rotate(90deg);
}

@keyframes mBur2Dis {
	100% {
		transform: initial;
		opacity: 0.0;
	}
}

.indMisi {
	padding-left: 20px;
}